.grid-container {
  display: grid;
  margin-top: 5vh;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  align-content: center;
  grid-row-gap: 32px;
}

.grid-item {
  /* height: 20vh; */
  text-align: center;
}

img {
  width: 50%;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}
